<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>O numero enviado é {{numero}}</h1> 
    {# % retornha o resto, 5%2 retorna 1 #}

    {% if numero % 2 == 0 %}
        <p>O número enviado é PAR</p>
    {% elif numero == 0 %}
        <p>O número enviado é zero e não divide </p>
    {% else %}
        <p>O número enviado é IMPAR</p>
    {% endif %}

    <! -- Usamos sempre que precisamos repetir até uma condição se satisfeita -- > 

    <br> <h1>Contando até 0</h1>
    <ul>
    {% for i in range(numero, -1, -1) %}
        <li>{{i}}</li>   
    {%endfor%}
    </ul>


</body>
</html>